body {
    padding: 0;
    margin: 0;
    
}

html, body, #map {
    height: 100%;
    font: 12pt "Roboto-condensed", Arial, Helvetica, sans-serif;
}

.message {
    width:95%;
    margin: auto;
}

#msg {
    color: red;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h3 {
    margin: 0 0 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.timestamp {
    font-size: 11px;
    color: blue;
}

.discrepancy {
    font-size: 12px;
    color: red;
}

.data{
    padding:0px;
    margin:0px;
}

.about {
    padding:15px;
    font-size:14px;
}

.disclaimer {
    color:red;
    font-weight:bold;
}

.info-row{
    width:95%;
    display: flex;
    height: 170px;
    margin: 5px 10px 5px 0px;
}

.info-col-cases,
.info-col-deaths,
.info-col-tests,
.info-col-health{
    width: 50%;
    font-family: 'Baloo Thambi 2', sans-serif;
    font-weight: bold;
}

.info-col-risk{
    width: 100%;
    font-family: 'Baloo Thambi 2', sans-serif;
}

.info-col-cases{
    background-color: #565C9F;
    border-radius:10px;
    /* box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, .6); */
}

.info-col-tests, .info-col-health{
    background-color: #43ADC5;
    margin: 0px;
    /* box-shadow: 5px -5px 10px 0px rgba(0, 0, 0, .6); */
}

.info-col-tests,
.info-col-cases{
    margin-right: 5px;
    border-radius:10px;
}

/* .info-col-cases > .info-col-header{
    background-color: lightskyblue;
} */
/* 
.info-col-risk > .info-col-header{
    background-color: #F6AC8D;
}

.info-col-test > .info-col-header{
    background-color: #F6AC8D;
} */


.info-col-header{
    margin-top:0px;
    padding-bottom:5px;
    margin-bottom:2px;
    padding-left:5px;
    font-size:22px;
    color:#000;
    font-weight:bold;
    border-bottom: 1px solid #888;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-col-tests,
.info-col-health,
.info-col-cases,
.info-col-deaths,
.info-col-risk{
    border-radius:10px;
    background-color:#E1E1E1;
}

.stats-display{
    line-height: 1.2em;
}
.datapoint{
    color:#0054d9
}

.info-icon{
    float: left;
    padding:5px;
    color: #0054d9
}
table{
    margin-top: 0px;
    padding-top:0px;
    border-spacing: 10px;
    
    
}

th {
    width:40px;
    padding:0px 10px;
    line-height: 1em;
    
}
tr{
    padding:10px;
    margin-top: 0px;
    padding-top:0px;
   
}

.body-row{
    
}

td.row-header{
    font-weight:bold;
    text-align: right;
}

.datapoint{
    text-align:center;
    font-size:18px;
}

