body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 12pt "Roboto-condensed", Arial, Helvetica, sans-serif;
}

.message {
    width:95%;
    margin: auto;
}

#msg {
    color: red;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h3 {
    margin: 0 0 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.timestamp {
    font-size: 11px;
    color: blue;
}

.discrepancy {
    font-size: 12px;
    color: red;
}

/* #sidebar {
    width:400px;
} */

.data{
    padding:0px;
    margin:0px;
}

.about {
    padding:15px;
    font-size:14px;
}

.disclaimer {
    color:red;
    font-weight:bold;
}